@import "../../pages/styles/_constant";

.field {
    line-height: 2.5em;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.heading {
    font-weight: bold;
}

.data { 
    font-weight: 300;
    font-size: 2.5em;
    color: lightslategray;
}

.holder {
    margin: 1em auto;
    flex-wrap: wrap;
    & > div {
        flex-basis: 100%;
        // flex: initial;
        @include breakpoint(md) {
            flex: 1;
            margin-bottom: 1em;
        }
    }
}

.small { font-size: 2em; }