@import "../../pages/styles/_constant";

.container {
  font-family: "Poppins", sans-serif;
}

.topNavigation {
  width: 100%;
  height: 60px;
  background: white;
  position: relative;
  z-index: -1;
}

.topDropdown {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 300px;
}

.topNotification {
  height: 16px;
  width: 16px;
  background: black;
  border-radius: 100%;
  float: right;
  margin-right: 45px;
  margin-top: 23px;
}

.purpleBackground {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 195%;
  background: #6359a0;
  transform: translateX(-10%) translateY(-30%) rotate(20deg);
  z-index: -1;
}

.dashboardContent {
  margin-top: 100px;
  width: 100%;
  height: 100vh;
  max-width: calc(100% - 256px);
  right: 0;
  position: absolute;
}

.dashboardDeviceStatusButtons {
  display: flex;
  justify-content: center;
}

.dashboardGridContent {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  grid-gap: 50px;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  position: relative;

}

.dashboardHeader {
  font-family: "Poppins";
  font-size: 1.15rem;
  letter-spacing: 0.16px;
}

.dashboardDeviceStatusGrid {
  @extend .grid--one-one;
  margin-top: 17px;
  margin-bottom: 30px;
  font-family: 'Poppins';
  font-size: 0.93rem;
  letter-spacing: 0.1px;
}

.box {
  width: 99%;
  background: white;
  border-radius: 8px;
  padding: 22px;
  box-shadow: 0 8px 25px 0 rgba(112, 110, 110, 0.65);
  margin-bottom: 50px;
}

.left,
.right {
  flex: 25%;
  width: 100%;
  height: 100%;
  position: relative;
}

.left {
  margin-right: 36px;
}

.chart {
  //width: 60%;
  //max-width: 500px;
  max-height: 300px;
}

.buttonsContainer {
  display: grid;
  padding: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.dropdownFilter {
  float: right;
}


