@import "../../pages/styles/_constant";

.container {
  position: relative;
  height: 100vh;
  background-size: cover;
  position: relative;
  
}

.formCenter {
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  max-width: 750px;
  max-height: 750px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
  background: white ;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  max-width: 750px;
  padding: 30px 40px;
  border-radius: 40px;
  

  & .bottom {
    display: flex;
    justify-content: end;
    width: 100%;
  }
}
