@import "../../pages/styles/_constant";


.header {
    font-family: "Poppins";
    font-size: 1.15rem;
    letter-spacing: 0.16px;
}
  
  

.box {
    width: 100%;
    background: white;
    border-radius: 8px;
    padding: 22px;
    box-shadow: 0 8px 25px 0 rgba(112, 110, 110, 0.65);
    margin-bottom: 50px;
    max-height: 500px;
}
  