@import "../../pages/styles/_constant";


.header {
    font-family: "Poppins";
    font-size: 1.15rem;
    letter-spacing: 0.16px;
}
  
  

.box {
    width: 100%;
    background: white;
    border-radius: 8px;
    padding: 22px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #eef2f7;
    margin-bottom: 20px;
    max-height: 500px;
    min-width: 0;
}
  