@import "../../pages/styles/_constant";

.nav {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 20px 22px;
  z-index: $z-highest;
  display: flex;
  justify-content: space-between;
  background: white;
  box-shadow: 0 0 35px 0 rgba(154,161,171,.15);

  .accountHolder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    weight: 40px;
  }

  .avatar {
    //background: lightblue;
    width: 30px;
    height: 30px;
    margin-right: 0.5em;
    border-radius: 100%;
    background-size: 30px 30px;
  }
}

.topNotification {
  background: url("../assets/Notifications.svg") no-repeat;
  width: 25px;
  height: 25px;
  background-size: cover;
  color: #98a6ad;
}


.search {
  & input {
    width: 100%;
  }
}

.deviceSelect {
  color: #98a6ad;
  margin-right: 2em;
}