@import "../../pages/styles/_constant";

.container {
  font-family: Lato;
  color: #ffffff;
  width: 100%;
  max-width: 256px;
  height: 100%;
  background-color: #334459;
  left: 0;
  position: absolute;
  padding: $margin;
}


.userDetails {
  padding-top: 42px;
  grid-gap: 16px;
  font-weight: 700;

  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

.avatar {
  float: left;
  width: 46px;
  height: 46px;
  border-radius: 100%;
  background: grey;
}

.userInfo {
  float: left;
  margin-left: 16px;
  font-size: 100%;

  & span {
    letter-spacing: 0.11px;
    font-size: 81.25%;
  }
}

.links {
  margin-top: 40px;
  letter-spacing: 0.13px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  font-size: 93.75%;
  font-weight: 700;

  & li {
    list-style: none;
    line-height: 40px;

    & a {
      text-decoration: none;
      color: #ffffff;
    }
  }
}

.bottom {
  position: absolute;
  bottom: 0;
  margin-bottom: 22px;
  letter-spacing: 0.13px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  font-weight: 700;
  font-size: 93.75%;

  & li {
    list-style: none;
    line-height: 40px;

    & .sidebar {
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      color: #90a0b7;
    }

    & a {
      text-decoration: none;
      color: #ffffff;
    }
  }
}
