@import "../../pages/styles/_constant";

.container {
  font-family: Poppins;
  color: #ffffff;
  width: 100%;
  max-width: 256px;
  height: 100%;
  background-color: #334459;
  left: 0;
  position: fixed;
  padding: $margin;
}


.userDetails {
  margin-top: 85px;
  font-weight: 500;
  display: flex;
  align-items: center;
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

.avatar {
  width: 46px;
  height: 46px;
  border-radius: 100%;
  background: grey;
  background-size: 46px 46px;
  flex-shrink: 0;
}

.userInfo {
  float: left;
  margin-left: 16px;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  & span {
    letter-spacing: 0.11px;
    font-size: 0.8125rem;

  }
}

.links {
  margin-top: 40px;
  letter-spacing: 0.13px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  font-size: 0.9375rem;
  font-weight: 500;

  & li {
    list-style: none;
    line-height: 40px;

    & a {
      text-decoration: none;
      color: #ffffff;
    }
  }
}

.bottom {
  position: absolute;
  bottom: 0;
  margin-bottom: 22px;
  letter-spacing: 0.13px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  font-weight: 500;
  font-size: 0.9375rem;

  & li {
    list-style: none;
    line-height: 40px;

    & .sidebar {
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      color: #90a0b7;
    }

    & a {
      text-decoration: none;
      color: #ffffff;
    }
  }
}

.userSettingsForm {
  width: 100%;
}