@import "../../pages/styles/_constant";

.container {
  font-family: Poppins;
  color: #ffffff;
  background-color: #334459;
  padding: $margin/2 $margin/2;
  grid-area: sidebar;
  height: 100vh;
  display: block;
  position: sticky;
  top: 0;
  // position: relative;

  @include breakpoint(sm) {
    padding: $margin/2 $margin;
  }

  svg {
    opacity: .7;
    &:hover {
      opacity:1;
    }
  }
}

.menuItem {
  display: none;

  @include breakpoint(sm) {
    display: block;
  }
}

.userDetails {
  margin-top: 40px;
  font-weight: 500;
  display: flex;
  align-items: center;
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

.logo {
  // font-weight: bold;
  // font-family: Lato;
  // font-size: 1.225rem;
  // color: white;
  // text-align: center;
  // text-transform: uppercase;
  background: url("../assets/plantlogo.png") no-repeat;
  width: 43px;
  height: 56px;
  margin: 0 auto;
  background-size: cover;
  @include breakpoint(sm) {
    background: url("../assets/plantly-white.png") no-repeat;
    width: 115px;
    height: 43px;
    background-size: cover;
  }
}

.avatar {
  width: 46px;
  height: 46px;
  border-radius: 100%;
  background: grey;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
}

.userInfo {
  float: left;
  margin-left: 16px;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  & span {
    letter-spacing: 0.11px;
    font-size: 0.8125rem;

  }
}

.links {
  margin-top: 40px;
  letter-spacing: 0.13px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  font-size: 0.9375rem;
  font-weight: 500;

  & li {
    list-style: none;
    line-height: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include breakpoint(sm) {
      justify-content: initial;
    }
    &.active {
      &::before {
        content: "";
        display:block;
        position: absolute;
        background: rgba(255,255,255,.1);
        width: 100%;
        height: 40px;
        left: 0;
        z-index: -1;
      }
    }
    & a {
      text-decoration: none;
      color: #ffffff;
    }
  }
}


.bottom {
  position: absolute;
  bottom: 0;
  margin-bottom: 22px;
  letter-spacing: 0.13px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  font-weight: 500;
  font-size: 0.9375rem;
  width: 100%;
  left: 0;

  @include breakpoint(sm) {
    left: initial;
  }
  & li {
    list-style: none;
    line-height: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include breakpoint(sm) {
      justify-content: initial;
    }

    & .sidebar {
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      color: #90a0b7;
    }

    & a {
      text-decoration: none;
      color: #ffffff;
    }
  }
}

.userSettingsForm {
  width: 100%;
}