$margin: 24px;

$z-highest: 99999;
$z-1stOrder: 10000;

@mixin breakpoint($class) {
	@if $class == xs {
		@media (max-width: 600px) { @content; }
	}

	@else if $class == sm {
		@media (min-width: 768px) { @content; }
	}

	@else if $class == md {
		@media (min-width: 992px) { @content; }
	}

	@else if $class == lg {
		@media (min-width: 1200px) { @content; }
	}

	@else {
		@warn "Breakpoint mixin supports: xs, sm, md, lg";
	}
}


.grid {
    display: grid;

    &--one-one {
        @extend .grid;
        grid-template-columns: 1fr 1fr;
    }

    &--one-two {
        @extend .grid--one-one;
		@include breakpoint(lg){
			grid-template-columns: 1fr 2fr;
		}
    }

    &--two-one {
        @extend .grid--one-one;
		@include breakpoint(lg){
			grid-template-columns: 2fr 1fr;
		}
	}
	
	@include breakpoint(xs) {
		grid-template-columns: 1fr;
		grid-gap: 10px;
	}
}

.center-center {
	display: flex;
	justify-content: center;
	align-items: center;
}