@import "constant";

.container {
  font-family: Poppins;
}

.topNavigation {
  width: 100%;
  height: 60px;
  background: white;
  position: relative;
  z-index: -1;
}

.topDropdown {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 300px;
}

.topNotification {
  height: 16px;
  width: 16px;
  background: black;
  border-radius: 100%;
  float: right;
  //top: 50%;
  //position: absolute;
  //transform: translateY(-50%);
  margin-right: 45px;
  margin-top: 23px;
}

.dashboardContent {
  //margin-left: 256px;
  margin-top: 68px;
  padding: 50px;
  width: 100%;
  height: 100vh;
  //overflow: hidden;
  background: white;
  max-width: calc(100% - 256px);
  right: 0;
  position: absolute;
  display: flex;
  justify-content: center;
}

.dashboardDeviceStatusButtons {
  display: flex;
  justify-content: center;
}

.dashboardGridContent {
  @extend .grid--one-one;
  max-width: 800px;
  width: 100%;
  grid-gap: 10px;
}

.dashboardDeviceStatus {
  height: 100%;
  width: 100%;
  max-width: 445px;
  max-height: 185px;
  border-radius: 8px;
  box-shadow: 0 8px 25px 0 rgba(112, 110, 110, 0.15);
}

.dashboardDeviceStatusContainer {
  padding: 22px;
}

.dashboardDeviceStatusHeader {
  font-family: Poppins;
  font-size: 1.15rem;
  letter-spacing: 0.16px;
}

.dashboardDeviceStatusGrid {
  @extend .grid--one-one;
  margin-top: 17px;
  margin-bottom: 30px;
  font-family: Poppins;
  font-size: 0.71rem;
  letter-spacing: 0.1px;
}
