@import "constant";

.container {
  @extend .grid--two-one;
  position: relative;
  height: 100vh;
}

.left {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://i.pinimg.com/originals/51/cd/d6/51cdd66f1768b8e380fd1eab073d532f.jpg");
  background-size: cover;
  height: 100%;
  position: relative;
}

.right {
  @extend .center-center;
  background: white;
  .logo {
    transform: translate(0%, 55%);
  }
  & .form {
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 200px;
    & .button {
      float: right;
    }
    & .content {
      text-align: left;
    }
  }
}
