@import "constant";

.container {
  @extend .grid--one-one;
  position: relative;
  height: 100vh;
}

.left {
  position: relative;
  @extend .center-center;
  background: #fbbd08;
  color: #000;
}

.description {
  position: relative;
  word-wrap: break-word;
  padding: 5em;
  max-width: 400px;
  z-index: $z-1stOrder;
  & h1 {
    font-weight: 400;
  }
  & h2,
  h3 {
    font-weight: 300;
  }
}

.right {
  padding: 5em;
  position: relative;
  @extend .center-center;
  & > div {
    z-index: $z-1stOrder;
    width: 100%;
    max-width: 400px;
  }
}
